#define INFLUXDB_URL "https://westeurope-1.azure.cloud2.influxdata.com"
#define INFLUXDB_TOKEN "TOKEN"
#define INFLUXDB_ORG "ORG"
#define INFLUXDB_BUCKET "BUCKET"
#define TZ_INFO "CET-1CEST,M3.5.0,M10.5.0/3"